# .env ejemplo
POSTGRES_DB=invenzis
POSTGRES_USER=invenzis
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5432

# App
SERVER_PORT=8080

# Mail
MAIL_HOST=smtp.ejemplo.com
MAIL_PORT=587
MAIL_USERNAME=usuario@ejemplo.com
MAIL_PASSWORD=contraseña_smtp
MAIL_TO=destinatario@ejemplo.com