# .env ejemplo db produccion:
POSTGRES_DB=postgres?prepareThreshold=0
POSTGRES_USER=postgres.wjmwnjkptymxgklheylg
POSTGRES_PASSWORD=RetoSummerInvenzis
POSTGRES_PORT=6543
POSTGRES_HOST=aws-1-us-east-1.pooler.supabase.com

# .env ejemplo db dev
POSTGRES_DB=postgres?prepareThreshold=0
POSTGRES_USER=postgres.swxbwzpgichgxtcaiult
POSTGRES_PASSWORD=RetoSummerInvenzis
POSTGRES_PORT=6543
POSTGRES_HOST=aws-1-us-east-1.pooler.supabase.com

# App
SERVER_PORT=8080
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# Mail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=InventIATool@gmail.com
MAIL_PASSWORD=vpzfrrkqbbdakdtw
MAIL_TO=InventIATool@gmail.com