# .env ejemplo
POSTGRES_DB=postgres
POSTGRES_USER=postgres.wjmwnjkptymxgklheylg
POSTGRES_PASSWORD=RetoSummerInvenzis
POSTGRES_PORT=6543
POSTGRES_HOST=aws-1-us-east-1.pooler.supabase.com

# App
SERVER_PORT=8080

# Mail
MAIL_HOST=smtp.ejemplo.com
MAIL_PORT=587
MAIL_USERNAME=usuario@ejemplo.com
MAIL_PASSWORD=contraseña_smtp
MAIL_TO=destinatario@ejemplo.com